$('.explode').html("<%= j render :partial => 'projects/project' %>");
$('.sassybutton').css({'display': ''});
$('.current-status<%= @project.id %>').html("<p>Status: <%= @project.statuses.last.content %></p>");
