@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color:#FCF6B1;
}

.panel-body{
	background:rgba(10,10,10,255);
}

.panel-footer p{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.row{
	margin-right:0;
}

.signinout{
	text-align:right;
}

.newprojectbutton a{
	color:white;
}

.slather{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	z-index:-5;
	opacity:0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.explode {
	padding:5vh;
	display:none;
	text-align:center;
}

.explode img{
	float:left;
}